/* ==== 
 --------- (2.03) global styles start ---------
 ==== */

/* grid system */
.ac-container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ac-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.items-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.ac-col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

[class*="ac-col-"] {
    padding-left: 12px;
    padding-right: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ac-col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.ac-col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.ac-col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.ac-col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.ac-col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.ac-col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.ac-col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.ac-col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.ac-col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.ac-col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.ac-col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.ac-col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.fw-5 {
    font-weight: 500;
}

.fw-6 {
    font-weight: 600;
}

.fw-7 {
    font-weight: 700;
}

.fw-8 {
    font-weight: 800;
}

.mt-4 {
    -webkit-margin-before: 4px;
    margin-block-start: 4px;
}

.mt-16 {
    -webkit-margin-before: 16px;
    margin-block-start: 16px;
}

.mb-16 {
    -webkit-margin-after: 16px;
    margin-block-end: 16px;
}

.mt-24 {
    -webkit-margin-before: 24px;
    margin-block-start: 24px;
}

.mb-24 {
    -webkit-margin-after: 24px;
    margin-block-end: 24px;
}

.text-secondary {
    color: var(--text-secondary);
}

.text-tertiary {
    color: var(--text-tertiary);
}

.text-quaternary {
    color: var(--text-quaternary);
}

.entity {
    font-family: "Gibson-SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    -webkit-margin-end: -2px;
    margin-inline-end: -2px;
}


/* section intro */
.section-intro h2 {
    font-weight: 700;
    color: var(--text-primary);
}


/* page layout */
.main {
    height: 100%;
    overflow-y: auto;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.main-active {
    -webkit-margin-start: 160px;
    margin-inline-start: 160px;
    min-width: 100vw;
}

/* ==== 
 --------- (2.03) global styles end ---------
 ==== */