/* ==== 
 --------- (1.01) variables start ---------
 ==== */

:root {
    /*  font family */
    --gibson: "Gibson", sans-serif;

    /* colors */
    --white: #ffffff;
    --black: #000000;
    --bg-primary: #002942;
    --bg-secondary: #F5F5F5;
    --bg-tertiary: #7676801F;
    --bg-quaternary: #005890;
    --text-primary: #282828;
    --text-secondary: #4D4D4D;
    --text-tertiary: #949494;
    --text-quaternary: #138000;
    --text-quinary: #138000;

    /* border colors */
    --border-color: #949494BF;

    /* transitions */
    --transition: all 0.15s ease;

    /* box shadow */
    --shadow: 0px 4px 27px 0px rgba(0, 0, 0, 0.05);
}

/* ==== 
 --------- (1.01) variables end ---------
 ==== */