/* ==== 
 --------- (5.01) billing section styles start ---------
 ==== */

.billing {
   margin-top: 24px;
   padding-bottom: 24px;
}

.billing .ac-row {
   -webkit-box-orient: vertical;
   -webkit-box-direction: reverse;
   -ms-flex-direction: column-reverse;
   flex-direction: column-reverse;
}

.billing__balance {
   max-width: 460px;
   margin-top: 24px;
}

.billing__balance li {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin-bottom: 8px;
}

.billing__balance li:nth-last-of-type(1) {
   margin-bottom: 0px;
}

.billing__balance li span {
   letter-spacing: 0.5px;
}

p span {

   white-space: nowrap;

}

.billing__balance li span:nth-last-of-type(1) {
   letter-spacing: 0.15px;
}

.billing__summary {
   padding: 16px;
   background-color: var(--bg-secondary);
   border-radius: 8px;
   max-width: 460px;
   width: 100%;
}

.billing__summary-wrapper,
.billing__summary-cta {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;
   gap: 32px;
}

.billing__summary-single {
   width: calc(50% - 16px);
}


.billing__summary-single>* {
   width: 100%;
}

.billing__summary-single .btn-primary {
   width: 100%;
}

/* ==== 
 --------- (5.01) billing section styles start ---------
 ==== */