/* ==== 
 --------- (4.01) sidebar styles start ---------
 ==== */

.sidebar {
    position: fixed;
    inset-inline-start: -100%;
    inset-block: 0px;
    width: 160px;
    height: 100vh;
    padding: 16px 8px;
    background-color: var(--bg-primary);
    z-index: 1;
    transition: var(--transition);
}

.sidebar-active {
    inset-inline-start: 0%;
    border-inline-end: 1px solid #454545;
}

.sidebar__inner {
    height: calc(100vh - 32px);
    overflow-y: auto;
    overflow-x: clip;
}

.logo a {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    color: var(--white);
    letter-spacing: 0.0115em;
    padding-inline: 16.5px;
}

.sidebar__nav {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    margin-top: 24px;
}

.sidebar__nav li,
.sidebar__nav a {
    width: 100%;
}

.sidebar__nav a {
    color: var(--white);
    padding: 8px 16px;
    border-radius: 8px;
    letter-spacing: 0.5px;
    position: relative;
}

.sidebar__nav a::before,
.sidebar__nav a::after {
    content: "";
    position: absolute;
    inset: 0px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.sidebar__nav a::before {
    z-index: 0;
}

.sidebar__nav a::after {
    z-index: -1;
}

.sidebar__nav a:hover {
    filter: drop-shadow(0px 3px 1px rgba(117, 109, 109, 0.267)) drop-shadow(0px 3px 8px rgba(117, 109, 109, 0.301));
}

.sidebar__nav a:hover::before {
    background-color: #F5F5F51F;
}

.sidebar__nav a:hover::after {
    background-color: #002942;
}

.sidebar__nav a.selected::before,
.sidebar__nav a.selected::after {
    content: none;
}

.sidebar__nav a.selected {
    filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.267)) drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.301));
    background-color: var(--bg-quaternary);
}


/* ==== 
 --------- (4.01) sidebar styles end ---------
 ==== */